In [1]:
import pandas as pd
import nltk
from nltk.chunk import ne_chunk_sents


file_data = pd.read_csv("data_in.csv")
file_data

                                             Comment
0  Hello there, how are you? Weather is awesome. ...
1  Hello Mr. Raja, how are you? Weather is awesom...
2  Hello Mr. Raja, how are you. Weather is bad. I...
3  NLP is great technique. It is nice to learn th...
4  AI is making difference in this world now.  It...

In [2]:
tokenized = file_data.apply(lambda row: (nltk.word_tokenize(row['Comment'])), axis=1)
tokenized

0    [Hello, there, ,, how, are, you, ?, Weather, i...
1    [Hello, Mr., Raja, ,, how, are, you, ?, Weathe...
2    [Hello, Mr., Raja, ,, how, are, you, ., Weathe...
3    [NLP, is, great, technique, ., It, is, nice, t...
4    [AI, is, making, difference, in, this, world, ...
dtype: object

In [3]:
with open("data_out1.csv","w+") as out_file:
    for i in tokenized:
        print(i,file=out_file)